/* CUSTOM SPS STYLING */

/* Override the label select to keep the pop out menu in bounds */
#PreferredCodec label select{
	max-width: 400px;
	text-overflow: ellipsis;
} 

/* Set the style of the warning container */
#warning {
	height: 3rem;
	width: 19rem;
	position: absolute;
	top: 3%;
	left: 2%;
	font-family: 'Michroma', 'sans-serif';
	pointer-events: all; 
}

#webRtcTcpRelayDetectIndicator {
	float: right;
	background-color: rgba(60,59,64, 1.0);
	padding: 0px 0px 0px 10px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.75px;
}

#webRtcTcpRelayDetectIndicator #warningCloseButton {
	padding-right: 5px;
	float: right;
}

#webRtcTcpRelayDetectIndicator #warningCloseButton:after {
	margin-left: 5px;
	content: "\00d7";
	font-size: 1rem;
	font-family: sans-serif;
}

#webRtcTcpRelayDetectIndicator #warningCloseButton:hover {
	color: var(--color3);
}

#webRtcTcpRelayDetectIndicator #warningTCPStream {
	float: left;
}

#webRtcTcpRelayDetectIndicator #warningTCPStream p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 0.75rem;
	
}

#webRtcTcpRelayDetectIndicator #warningTCPStream p a{
	color: #5c9ef9;
	font-size: 0.75rem;
	text-decoration: none;
}
